.td-navbar {
  background-color: #fff;
    .navbar-brand {
      @include media-breakpoint-up(md) {
        padding: 0;
      }
      svg {
        width: 128px;
      }
      .navbar-brand__name {
        display: none;
      }
    }
}

.td-navbar > div {
    max-width: 1800px;
}

.nav-link {
  color: #787878;
  &:hover {
    color: #353688;
}
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #353688;
}

.dropdown-item {
    &:hover {
        background-color: transparent;
    }
}

.o-banner {
  @include media-breakpoint-up(md) {
    width: 100%;
    position: fixed;
    margin-left: -15px;
    z-index: 31;
    top: 4rem;
  }
  background-color: #353688;
  color: #fff;
  text-align: center;

  & p {
    padding: 0.5rem;
    margin-bottom: initial;
  }

  & a {
    color: #fff;
    &:hover {
      color: #dedeef;
    }
  }
}

.footer-container {
    background-color: #353688;
    padding: 2rem 1rem;
    margin-left: calc(-.5*1.5rem);
    margin-right: calc(-.5*1.5rem);
    color: #bebeef;
}

.footer-inner-top {
    @media (min-width: 1800px) {
        max-width: 1800px;
    } 
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding-left: 0 !important;
    & a {
        color: #bebeef;
        &:hover {
            color: #fff;
        }
    }
}

.konveyor-logo-container {
    width: 8rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.cncf-logo-container {
    width: 17rem;
    @include media-breakpoint-down(lg) { 
        width: 12rem;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.footer-inner-bottom {
    @media (min-width: 1800px) {
        max-width: 1800px;
    } 
    max-width: 95%;
    margin: 0 auto;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-center {
    text-align: center;
}

.line-height-1 {
    line-height: 1;
}

.text-decoration-none {
    text-decoration: none;
}

.text-decoration-underline {
    text-decoration: underline;
}

.hero {
    display: flex;
    justify-content: space-between;
    color: #000;
    max-width: 1800px;
    margin: 3rem auto 0 auto;
    @include media-breakpoint-down(sm) { 
        margin-top: 0px;
    }
}

.hero-image {
    width: 800px;
    height: 500px;
    @include media-breakpoint-down(xxl) { 
        width: 80%;
        height: auto;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.hero-illustration {
    @include media-breakpoint-down(lg) { 
        display: none;
    }
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-col--mobile {
    @include media-breakpoint-down(lg) { 
        flex-direction: column;
    }
}

.inline-flex {
    display: inline-flex;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-between--mobile {
    @include media-breakpoint-down(lg) {
        justify-content: space-between;
    }
}

.space-between--tablet {
    @media (max-width: 1650px) {
        justify-content: space-between;
    }
}

.align-center {
    align-items: center;
}

.align-center--mobile {
    @include media-breakpoint-down(lg) { 
        align-items: center;
    }
}

.flex-reverse {
    @include media-breakpoint-up(lg) { 
        flex-direction: row-reverse;
    }
}

.flex-wrap {
    flex-wrap: wrap;
}

.max-w-60 {
    max-width: 60%;
    @media (max-width: 1650px) {
        max-width: 80%;
    }
    margin: 0 auto;
}

.max-w-80 {
    max-width: 80%;
    margin: 0 auto;
}

.max-w-58 {
    max-width: 58%;
    @include media-breakpoint-down(xxl) { 
        max-width: 80%;
    }
    margin: 0 auto;
}

.max-w-300px {
    max-width: 300px;
    @include media-breakpoint-down(lg) { 
        max-width: 100%;
    }
}

.max-w-400px {
    max-width: 400px;
    @include media-breakpoint-down(lg) { 
        width: 80%;
    }
}

.max-w-600px {
    max-width: 600px;
    @include media-breakpoint-down(lg) { 
        max-width: 80%;
    }
}

.max-w-700px {
    max-width: 700px;
    @include media-breakpoint-down(lg) { 
        max-width: 80%;
    }
}

.max-w-1000px {
    @include media-breakpoint-up(lg) { 
        max-width: 1000px;
    }
}

.gap-sm {
    gap: 0.5rem;
}

.gap-md {
    gap: 2rem;
}

.gap-2xl {
    gap: 4rem;
}

.feature-image {
    width: 500px;
    height: 300px;
    @include media-breakpoint-down(lg) { 
        width: 80%;
        height: auto;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.cncf-banner {
    max-width: fit-content;
    padding: 2rem 7rem 1rem 7rem;
    background-color: #AC945D;
    color: #fff;
    margin: 0 auto;
    border-radius: 10px;
    @include media-breakpoint-down(md) { 
        padding: 1rem 2rem;
    }

    & p {
        font-size: 1.5rem;
        @include media-breakpoint-down(md) { 
            font-size: 1rem;
        }
    }
}

.cncf-banner-image {
    padding: 0 1rem;
    img {
        width: 300px;
        @include media-breakpoint-down(md) { 
            width: 150px;
        }
    }
}

.supporter-logo-container {
    width: 29%;
    flex: none;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.m-auto {
    margin: 0 auto;
}

.ml-5px {
    margin-left: 5px;
}

.mt-3 {
    margin-top: 3rem;
}

.mr-3 {
    margin-right: 3rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.py-20 {
    padding: 20px 0;
}

.pb-20 {
    padding-bottom: 20px;
}

.py-120 {
    padding: 120px 0;
}

.pt-120 {
    padding-top: 120px;
}

.newsletter {
    background-image: url('/images/newsletter-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.newsletter-banner-container {
    width: 25rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 12px;
    }
}

.text-6xl {
    font-size: 4rem;
    @include media-breakpoint-down(sm) { 
        font-size: 3rem;
    }
}

.text-lg {
    font-size: 1.125rem;
}

.text-xl {
    font-size: 1.3rem;
}

.text-2xl {
    font-size: 1.5rem;
}

.font-medium {
    font-weight: 500;
}

.text-green {
    color: #28CD55;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        background-color: #2E2E6B;
        color: #fff;
    }
}

.btn-primary {
    background-color: #353688;
    color: #fff;
}

.btn-secondary {
    background-color: #e0e8ff;
    color: #353688;
}

.btn-transparent {
    background-color: transparent;
    color: #353688;
    border: 1px solid #353688;
}

.cta-group {
    display: flex;
    gap: 0.5rem;
    @media (max-width: 400px) {
        flex-direction: column;
    }
}

.td-search:not(:focus-within) {
    color: #787878;
}

.td-search {
    border: 1px solid #787878;
    border-radius: 10px;
}

.newsletter-input {
    outline: none;
    border-right: 0px;
    padding: 0.5rem 1.5rem;
    border-radius: 10px 0px 0px 10px;
    width: 100%;
}

.featured-post-image {
    width: 20rem;
    @include media-breakpoint-down(lg) { 
        width: 100%;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.sub-menu {
    @include media-breakpoint-down(sm) { 
        margin-right: 55px;
    }
}

.td-navbar .navbar-nav {
    @include media-breakpoint-down(lg) { 
        padding-bottom: 3rem;
    }
}

.td-navbar .td-navbar-nav-scroll {
    @include media-breakpoint-down(lg) { 
        height: auto;
    }
}

.fancy {
    line-height: 0.5;
    text-align: center;
    &:before, &:after {
        @include media-breakpoint-down(md) {
            content: "";
            border: none;
            display: none;
        }
    }
}

.fancy span {
    display: inline-block;
    position: relative;
    @include media-breakpoint-down(md){
            background: inherit;
            position: static;
            padding: 0;
    } 
}

.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 1px;
    border-top: 1px solid #353688;
    top: 50%;
    width: 300px;
}

.fancy span:before {
    right: 100%;
    margin-right: 15px;
}

.fancy span:after {
    left: 100%;
    margin-left: 15px;
    @include media-breakpoint-down(md) {
        display: none;
    }
}