// Theme colors

$primary: #353688 !default;
$secondary: #e0e8ff !default;
$success: #3772ff !default;
$info: #c0e0de !default;
$warning: #ed6a5a !default;
$danger: #ed6a5a !default; 
$light: #ffffff !default;

// font
$google_font_name: 'Alegreya Sans';
$google_font_family: 'Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900';
$line-height-base: 1.5;
$font-size-base: 1.3rem;