// Theme colors

$primary: #353688 !default;
$secondary: #e0e8ff !default;
$success: #3772ff !default;
$info: #c0e0de !default;
$warning: #ed6a5a !default;
$danger: #ed6a5a !default; 
$light: #ffffff !default;

// font
$google_font_name: 'Red Hat Display';
$google_font_family: 'Red+Hat+Display:ital,wght@0,300..900;1,300..900';