<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }}{{ with .Page.Params.body_class }} {{ . }}{{ end }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-default td-outer">
      {{- partial "banner.html" . }}
      <main role="main" class="td-main">
        <section class="hero mb-5">
            <div>
              <img src="/images/left-illustration.svg" alt="left illustration" />
            </div>
            <div class="text-center">
              <h1 class="max-w-700px m-auto text-6xl -text-primary">{{ .Title }}</h1>
              <p class="max-w-600px m-auto mt-3 mb-5">
                {{ .Params.Subtitle }}
              </p>
              <div class="hero-image">
                <img src="{{ .Params.header_image }}" alt="header image" />
            </div>
            </div>
            <div>
              <img src="/images/right-illustration.svg" alt="right illustration" />
            </div>
          </section>
          <section>
            {{ range $index, $feature := .Params.Features }}
            {{ if not (modBool $index 2) }} 
                <div class="flex flex-reverse max-w-58 space-between py-120">
            {{ else }}  
                <div class="flex max-w-60 gap-md">
            {{ end }}
                    <div class="feature-image">
                        {{ with $feature.src }}                  
                        <img src="{{ . }}" alt="konveyor ui" />
                        {{ end }}
                    </div>
                    <div class="max-w-400px">
                        {{ with $feature.title }}
                            <h2 class="-text-primary">{{ . }}</h2>
                        {{ end }}
                        {{ with $feature.description }}
                            <p>
                                {{ . }}
                            </p>
                        {{ end }}
                    </div>
                </div>
            {{ end }}
              <div class="flex justify-center pt-120 mb-5">
                    <div class="cta-group">
                        <a href="{{ .Params.cta_primary.url }}" class="btn btn-primary">{{ .Params.cta_primary.title }}</a>
                        <a href="{{ .Params.cta_secondary.url }}" target="_blank" class="btn btn-transparent">{{ .Params.cta_secondary.title }} <i class="fa-solid fa-arrow-right ml-5px"></i></a>
                    </div>
             </div>
          </section>
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partialCached "scripts.html" . }}
  </body>
</html>