<footer class="footer-container">
    <div class="footer-inner-top">
        <p>©2025 the Konveyor authors</p>
        <ul class="footer-links">
            <li><a href="/privacy">Privacy Statement</a></li>
            <li><a href="https://www.linuxfoundation.org/legal/trademark-usage" target="_blank">Trademark</a></li>
        </ul>
        <ul class="footer-links">
            <li><a href="https://twitter.com/Konveyor_io" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCQ3pW3gSBeCy0tj1J0ub2bw" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href="https://www.linkedin.com/company/konveyor-community/?viewAsMember=true" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="https://www.konveyor.io/slack/" target="_blank"><i class="fa-brands fa-slack"></i></a></li>
            <li><a href="https://github.com/konveyor" target="_blank"><i class="fa-brands fa-github"></i></a></li>
        </ul>
    </div>
    <div class="footer-inner-bottom">
        <div>
            <div class="footer-img-container">
                <img src="/images/Konveyor-logo-color-wh.svg" alt="konveyor logo" />
            </div>
            <p>The Konveyor community helps modernize applications by providing open source tools.</p>
        </div>
        <div>
            <div class="footer-img-container">
                <img src="/images/cncf-logo-white.svg" alt="cncf logo" />
            </div>
            <p>We are a Cloud Native Computing Foundation sandbox project.</p>
        </div>
    </div>
    <p class="text-center">The Linux Foundation® (TLF) has registered trademarks and uses trademarks. For a list of TLF trademarks, see <a href="https://www.linuxfoundation.org/legal/trademark-usage" target="_blank">Trademark Usage.</a></p>
</footer>

