<section class="newsletter">
    <div class="flex gap-md justify-center align-center">
        <div class="newsletter-banner-container">
            <img src="/images/newsletter-banner.png" alt="Konveyor newsletter banner">
        </div>
        <div class="max-w-400px">
            <h3>Subscribe to our Newsletter</h3>
            <p>Stay up-to-speed with all things Konveyor and migrating to Kubernetes by subscribing to our email list. You'll only hear from us when we have an update worth sharing.</p>
            <form class="flex">
                <input type="email" class="newsletter-input" placeholder="Enter your email address" />
                <button>Subscribe</button>
            </form>
        </div>
    </div>
    <p class="max-w-60 m-auto py-20 text-center">
        You can unsubscribe at any time by clicking the link in the footer of our emails. Our privacy statement.
        We use Mailchimp as our marketing platform. By clicking below to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing. Learn more about Mailchimp's privacy practices.
    </p>
    </section>