{{ define "main" }}
<section class="hero">
  <div>
    <img src="/images/left-illustration.svg" alt="left illustration" />
  </div>
  <div class="text-center">
    <h1 class="max-w-700px text-6xl -text-primary">Accelerate Your Application Modernization to Kubernetes</h1>
    <p class="max-w-600px mt-3">
      The Konveyor community helps modernize applications by providing open
      source tools to rehost, replatform, and refactor applications to
      Kubernetes and cloud-native technologies.
    </p>
  </div>
  <div>
    <img src="/images/right-illustration.svg" alt="right illustration" />
  </div>
</section>
<div class="text-center font-medium text-green text-lg">Key components of Konveyor</div>
<section>
    {{ range $index, $component := site.Params.components }}
            {{ if not (modBool $index 2) }} 
                <div class="flex flex-reverse max-w-58 space-between py-120">
            {{ else }}  
                <div class="flex max-w-60 gap-md">
            {{ end }}
                    <div class="feature-image">
                        {{ with $component.src }}                  
                        <img src="{{ . }}" alt="konveyor ui" />
                        {{ end }}
                    </div>
                    <div class="max-w-400px">
                        {{ with $component.title }}
                            <h2 class="-text-primary">{{ . }}</h2>
                        {{ end }}
                        {{ with $component.description }}
                            <p>
                                {{ . }}
                            </p>
                        {{ end }}
                        <div class="cta-group">
                            <a href="{{ $component.cta_primary_url }}" class="btn btn-primary">{{ $component.cta_primary_title }}</a>
                            <a href="{{ $component.cta_secondary_url }}" class="btn btn-transparent">{{ $component.cta_secondary_title }} <i class="fa-solid fa-arrow-right ml-5px"></i></a>
                        </div>
                    </div>
                </div>
            {{ end }}
</section>
<div class="cncf-banner">
    <p>Konveyor is a <span class="cncf-banner-image"><img src="/images/cncf-logo-white.svg" alt="cncf logo"></span> Sandbox Project</p>
</div>
<section class="text-center">
    <h2 class="-text-primary">Community Supporters</h2>
    <div class="flex flex-wrap justify-center max-w-600px m-auto py-20">
    {{ range $supporters := site.Params.supporters }}
        <div class="supporter-logo-container">
            <img src="{{ $supporters.logo }}" alt="{{ $supporters.company }} logo" />
        </div>
    {{ end }}
    </div>
    <a href="" class="btn btn-secondary text-lg inline-flex gap-sm align-center">Reach out to become a community supporter <i class="fa-solid fa-arrow-right"></i></a>
</section>
<section class="newsletter">
<div class="flex gap-md justify-center align-center">
    <div class="newsletter-banner-container">
        <img src="/images/newsletter-banner.png" alt="Konveyor newsletter banner">
    </div>
    <div class="max-w-400px">
        <h3>Subscribe to our Newsletter</h3>
        <p>Stay up-to-speed with all things Konveyor and migrating to Kubernetes by subscribing to our email list. You'll only hear from us when we have an update worth sharing.</p>
        <form class="flex">
            <input type="email" class="newsletter-input" placeholder="Enter your email address" />
            <button>Subscribe</button>
        </form>
    </div>
</div>
<p class="max-w-60 m-auto py-20 text-center">
    You can unsubscribe at any time by clicking the link in the footer of our emails. Our privacy statement.
    We use Mailchimp as our marketing platform. By clicking below to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing. Learn more about Mailchimp's privacy practices.
</p>
</section>
<section>
    <h2 class="max-w-60 mb-5 -text-primary">Recent Posts</h2>
    <div class="flex max-w-60 space-between m-auto">
        {{ range first 3 (where .Site.RegularPages "Type" "in" (slice "blog")) }}
            {{ if .Params.featured }}
                <div>
                    <div class="featured-post-image">
                        <img src="{{ .Params.image }}" alt="post image" />
                    </div>
                    <div class="max-w-300px">
                        <h3 class="-text-primary mt-3">{{ .Title }}</h3>
                        <p>
                            {{ .Summary | safeHTML | truncate 200 }}
                        </p>
                        <div>
                            <a href="{{ .Permalink }}" class="btn btn-transparent">Read More <i class="fa-solid fa-arrow-right ml-5px"></i></a>
                        </div>
                    </div>
                </div>
            {{ end }}
        {{ end }}
    </div>
</section>
{{ end }}
